<div id="container" [ngClass]="theme" >
  <div id="container-display">
    <div class="display">{{ displayValue }}</div>
    <div class="calculator">
      <div class="keypad">
        <button (click)="onClearClick()">C</button>
        <button (click)="onPlusMinusClick()">+/-</button>
        <button (click)="onPercentClick()">%</button>
        <button *ngFor="let number of numbers" (click)="onNumberClick(number)">{{ number }}</button>
        <button (click)="onDoubleZeroClick()">00</button>
        <button (click)="onDotClick()">.</button>
        <button (click)="onOperatorClick('+')">+</button>
        <button (click)="onOperatorClick('-')">-</button>
        <button (click)="onOperatorClick('*')">x</button>
        <button (click)="onOperatorClick('/')">:</button>
        <button (click)="onEqualsClick()">=</button>
      </div>
    </div>
  </div>
</div>
